/* Styling form and resume sections */


body {

    font-family: 'Times New Roman', Times, serif;

    margin: 20px;

    padding: 0;

    
    background-image: url('images/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


form {

    margin: auto;
backdrop-filter: blur(10px);
    

    border-radius: 8px;

    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);

    padding: 20px;

    max-width: 600px;

}


h1 {
    font-family: 'Lavishly Yours', cursive, sans-serif;
    text-align: center;
font-size: 50px;
    color: rgb(240, 237, 237);
    text-shadow:0 8px 8px rgba(12, 84, 241, 0.5);

}


fieldset {

    border: 2px solid skyblue;

    border-radius: 8px;

    padding: 20px;

    margin-bottom: 20px;

    backdrop-filter: blur(10px);
    box-shadow:0 8px 8px rgba(0, 0, 0, 0.5); ;

}


legend {

    font-weight: bold;

    text-align: center;
    font-size: 20px;

    color: rgb(248, 238, 238);
text-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);

}


label {

    display: block;

    margin-top: 10px;
    font-size: 20px;

    color: rgb(247, 238, 238);


}


input,textarea {

    margin-top: 4px;

    padding: 8px;
    backdrop-filter: blur(10px);
    width: calc(100% - 1px);

    border: 1px solid skyblue;

    border-radius: 4px;

    box-sizing: border-box;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);

}


button {

    display: block;
    margin: 20px auto; 
    width: 50%; 
    padding: 10px 20px;
    font-size: 18px;
    background-color:  rgb(126, 114, 235);
    border: 2px solid skyblue;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    box-shadow:0 8px 8px rgba(12, 84, 241, 0.5);
   

}


button :hover {

    color: blue;

}


#resume-display {

    max-width: 600px;

    margin: auto;

    padding: 20px;

    border: 2px solid skyblue;

    border-radius: 8px;

    backdrop-filter: blur(10px);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    outline:none;

}


#resume-display h2 {

    color: rgb(245, 239, 239);

}